.vscode/**
.github/**
docs/**
neovim/**
**/src/**
**/tsconfig*.json
**/*.tsbuildinfo
**/*.map
**/node_modules/**
.claude/**
client/package.json
client/package-lock.json
server/package-lock.json
.gitignore
.eslintrc*
eslint.config.mjs
pnpm-lock.yaml
lsp.log
CLAUDE.md
